body.modo-escuro #topo{
    width: 100%;
    height: 60px;
    top: 0px;
    box-shadow: 0px 1px 4px #555555;
    position: fixed;
    z-index: 2;
    background-color: #1a1a1a;
}

body.modo-escuro .linha{
    width: 90px;
    margin-left: 20px;
    border: 0.9px solid #ffffff;
}

body.modo-escuro .pTituloGeral{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 40px;
    text-decoration-thickness: 1.5px;
    color: #ffffff;
}

body.modo-escuro #divMenu ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

body.modo-escuro {
    background-color: #1a1a1a;
    color: #ffffff;
}

body.modo-escuro #secInicio {
    background-color: #1a1a1a;
}

body.modo-escuro #divPorC .divPorC {
    color: #ffffff;
}

body.modo-escuro #secSolucoes .card {
    background-color: #0E3353; 
}

body.modo-escuro #secSolucoes .caracCards {
    border-color: #ffffff;
}

body.modo-escuro #secQeumSomos {
    background-color: #1a1a1a;
}

body.modo-escuro #divImgequipe {
    background-color: #1a1a1a;
}

body.modo-escuro #secFerramentas {
    background-color: #1a1a1a;
}

body.modo-escuro .cardCarro {
    background-color: #333333;
    box-shadow: 0px 2px 7px #444444;
}

body.modo-escuro #linhaFerramentas {
    border-color: #ffffff;
}

body.modo-escuro #secMVV {
    background-color: #1a1a1a;
}

body.modo-escuro #divTransforma {
    background-color: #1a1a1a;
}

body.modo-escuro #btnOrc {
    background-color: #0E3353;
    box-shadow: 0px 2px 7px #555555;
    color: #ffffff;
}

body.modo-escuro #divFooter{
    width: 100%;
    background-color: #0E3353;
}

body.modo-escuro #pDireitosFooter,
body.modo-escuro #pTermosPolitica {
    color: #cccccc;
}

body.modo-escuro #secPortfolio {
    background-color: #1a1a1a;
}

body.modo-escuro #idRetIdioma {
    background-color: #1a1a1a;
    box-shadow: 0px 2px 3px #D9D9D9;
}