#topo{
    width: 100%;
    height: 60px;
    top: 0px;
    box-shadow: 0px 2px 7px #D9D9D9;
    position: fixed;
    z-index: 2;
    background-color: #F3F3F3;
}

#menu{
    width: 96%;/* 96%*/
    max-width: 1300px;
    margin: 0 auto 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#divLongMenu{
    display: flex;
    height: auto;
    align-items: center;
    width: 220px;
}

#imgLogoMenu{
    width: 50px;
    margin-left: 3%;
}

#pTechMenu{
    font-size: 22px;
    font-family: "EB Garamond";
    margin-left: 10px;
}

#divMenu{
    width: 32%;
    max-width: 389px;
    justify-content: space-between;
}

#divMenu ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

#divMenu ul li a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

#divFuncMenu{
    width: 220px;
    display: flex;
    justify-content: space-between;
}

#imgLupa{
    width: 30px;
}

#imgPlaneta{
    width: 30px;
}

#imgLua{
    width: 30px;
}

#imgFlechaIdioma{
    width: 20px;
    height: 18px;
}

#divIdiomas{
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pIdioma{
    text-transform: uppercase;
}

#idRetIdioma{
    background-color: #F3F3F3;
    width: 130px;
    height: 90px;
    position: absolute;
    margin-left: -5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 4px 4px #D9D9D9;
}

.pRetIdioma{
    font-size: 20px;
}

#checkPort{
    width: 20px;
}
#checkEn{
    width: 20px;
}
#checkZh{
    width: 20px;
}

.divdiv{
    display: flex;
    width: 90%;
    margin-left: 5%;
    justify-content: space-between;
}

#divLingua:hover{
    background-color: #dddcdc;
}

.invisivel{
    visibility: hidden;
}

.visivel{
    visibility: visible;
}

.baixo{
    margin-top: 150px;
}

.cima{
    margin-top: -180px;
}
