@import "menu.css";
@import "corpo.css";
@import "cards.css";
@import "ferramentas.css";
@import "mvv.css";
@import "footer.css";

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F3F3F3;
}

html{
    scroll-behavior: smooth;
}